<%= image_tag @user.avatar, class: 'prof-pic-lg' %>
<h1 class="text-center"><%= @user.username %></h1>
<p class="text-center lead"><%= @user.introduction %></p>

<div id="profile_header">
    <%= render partial: 'shared/profile_header.html.erb' %>
</div>

<div id="movie">
    <script type="text/javascript">
        $.ajax({
          dataType: "json",
          url: "<%= user_path(@user.id) %>.json",
        })
        .done(function(data){
            console.log(data)
            let container = $("#movie")
            let htmlString = "";
            container.empty();
            data["reviews"].forEach(function(review){
                    htmlString += `<div class="grid-item--width2">
                                     <a href="/movies/${review["movie"].id}"> <img src=${review["movie"].poster == "N/A" ? "http://www.reelviews.net/resources/img/default_poster.jpg" : review["movie"].poster} class="grid-item" /></a>
                                     <p class="grid-item">${review["movie"].title}</p>
                                     <p class="grid-item">${review["comment"]}</p>
                                    </div>`;
            });
            container.append(htmlString);
        });
    </script>
</div>