<!DOCTYPE html>
<html>
<head>
  <title>Filmster</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet"> 
  <%= csrf_meta_tags %>
</head>
<body>
  
<%= render partial: 'shared/nav.html.erb' %>

<div id="content">

<%= render partial: 'shared/flash_message.html.erb' %>

<%= yield %>

</div>

</body>
</html>
